.animate-line {
  position: relative;
  display: inline-block;
}

.animate-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: blue;
  transition: width 0.3s;
}

.animate-line:hover::after {
  width: 100%;
}
